@import url('https://fonts.googleapis.com/css?family=Roboto:300,900');

.file {
    width: 100%;
    height: 30px;
    margin: 5px 10% 0 10%;
}

.file .filesize {
    float: left;
    margin: 3px 0 0 10px;
}

.file img {
    width: 25px;
    float: left;
    position: relative;
}

.file .filename {
    float: left;
    position: relative;
    font-size: 20px;
    margin: 0 0 0 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

body,html {
    width: 100%;
    height: 100%;
    background: #fcfcfc;
}